name: Deploy Hugo Site  # 工作流的名称，显示在GitHub Actions界面上

on:  # 触发工作流的条件
  push:  # 当有代码推送时
    branches:
      - main  # 仅当推送到main分支时触发

jobs:  # 工作流中的作业
  deploy:
    runs-on: huawei
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Build Hugo site
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
          
      - name: Build site
        run: hugo --minify
        
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 1panel.z1hwang.cn
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/1panel/apps/openresty/openresty/www/sites/blog.z1hwang.cn/index
            # 拉取远程仓库更新（如果是Git仓库）
            # git pull
            # 或者清空目录准备接收新文件
            rm -rf * .[^.]*

      - name: Upload Hugo public files
        uses: appleboy/scp-action@master
        with:
          host: 1panel.z1hwang.cn
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "public/"
          target: "/opt/1panel/apps/openresty/openresty/www/sites/blog.z1hwang.cn/index"
          strip_components: 1
          
      - name: Final server adjustments
        uses: appleboy/ssh-action@master
        with:
          host: 1panel.z1hwang.cn
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/1panel/apps/openresty/openresty/www/sites/blog.z1hwang.cn/index
            # 执行任何需要的后续命令，例如设置权限等
            find . -type d -exec chmod 755 {} \;
            find . -type f -exec chmod 644 {} \;
